<h1>Past entries</h1>
<ul>
  <% if archives.length > 0 %>
    <% for entry in archives %>
      <li>
        <a href="<%= entry.path %>"><h3><%= entry.title %></h3></a>
		<span class="date"><%= entry.date %></span>
      </li>
    <% end %>
  <% end %>
</ul>

