@title_color: #444;

.standard_paragraph {
	margin: 10px 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

body {
	margin: 0 auto;
	font-family: 'Puritan', Georgia, Times, serif;
	font-size: 16px;
	line-height: 32px;
	padding: 15px;
	width: 720px;
	
	header.navigation {
		
		margin: 6px 20px 0 0;
		height: 80px;
		display: block;
		
		h1 {
			width: 400px;
			float: left;
			color: @title_color;
			font-size: 24px;
		}

		nav {
			float: right;

			ul {
				li {
					display: inline;
					margin: 0 6px 0 6px;
				}
			}

		}
	}
}
#by {
	font-style: italic;
	margin-right: 5px;
	font-size: 28px;
}
#caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}
#path {
	color: #b53131;
}
.date {
	font-style: italic;
	float: right;
	font-size: 14px;
	//line-height: 43px;
	margin-right: 30px;
}
a {
	color: #b83000;
	&:hover {
		text-decoration: underline;
	}
}
#main {
	clear: both;
	min-height: 400px;
}

pre {
	margin-left: 12px;
	code {
		background-color: #EEE;
		font-family: Monaco, Monospace, Arial, serif;
		font-size: 14px;
	}
}

.post {
	margin-right: 20px;
	header {
		margin-bottom: 10px;
		h2 {
			display: inline;
			color: @title_color;
			margin: 6px 0 6px 0;
			font-size: 20px;
			a {
				color: @title_color;
				text-decoration: none;
			}
		}
		.twitter-share-button {
			position: relative;
			top: 4px;
			margin-left: 10px;
		}
		h3 {
			font-size: 18px;
		}
	}
	p{
		.standard_paragraph;
	}
	.img_container {
		margin: 0 auto;
		text-align: center;
		img {
			border: 3px solid gray;
		}
	}
	.body {
		
	}
	.more {
		margin-top: -10px;
		margin-right: 30px;
		font-style: italic;
		text-align: right;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

footer {
	clear: both;
	border-top: 1px solid #CCC;
}

#about_container {
	
	p {
		.standard_paragraph;
	}
	
}