body {
  margin: 0 auto;
  font-family: 'Yanone Kaffeesatz', Georgia, Times, serif;
  font-size: 20px;
  line-height: 30px;
  padding: 15px;
  width: 720px;
}
body header.navigation {
  margin-right: 20px;
}
body header.navigation h1 {
  width: 400px;
  float: left;
}
body header.navigation nav {
  float: right;
}
body header.navigation nav ul li {
  display: inline;
  margin: 0 6px 0 6px;
}
#by {
  font-style: italic;
  margin-right: 5px;
  font-size: 28px;
}
#caption {
  position: absolute;
  font-size: 24px;
  margin: -135px 0 0 70px;
}
#path {
  color: #b53131;
}
.date {
  font-style: italic;
  float: right;
  margin-right: 30px;
}
a {
  color: #b83000;
}
a:hover {
  text-decoration: underline;
}
h1 a {
  color: black;
  text-decoration: none;
}
#main {
  clear: both;
}
.post header {
  margin-bottom: 10px;
}
.post header h1 {
  display: inline;
}
.post .body p {
  margin: 10px 0;
}
.post .body p:first-child {
  margin-top: 0;
}
.post .body p:last-child {
  margin-bottom: 0;
}
.post .more {
  margin-top: -10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right;
}
.post .more a {
  text-decoration: none;
}
.post .more a:hover {
  text-decoration: underline;
}
