body {
	margin: 0 auto;
	font-family: 'Yanone Kaffeesatz', Georgia, Times, serif;
	font-size: 20px;
	line-height: 30px;
	padding: 15px;
	width: 720px;
	
	header.navigation {
		
		margin-right: 20px;

		h1 {
			width: 400px;
			float: left;
		}

		nav {
			float: right;

			ul {
				li {
					display: inline;
					margin: 0 6px 0 6px;
				}
			}

		}
	}
}
#by {
	font-style: italic;
	margin-right: 5px;
	font-size: 28px;
}
#caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}
#path {
	color: #b53131;
}
.date {
	font-style: italic;
	float: right;
	//line-height: 43px;
	margin-right: 30px;
}
a {
	color: #b83000;
	&:hover {
		text-decoration: underline;
	}
}
h1 a {
	color: black;
	text-decoration: none;
}
#main {
	clear: both;
}
.post {
	header {
		margin-bottom: 10px;
		h1 {
			display: inline;
		}
	}
	.body {
		
		p{
			margin: 10px 0;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.more {
		margin-top: -10px;
		margin-right: 30px;
		font-style: italic;
		text-align: right;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}